/* add home page styles here */

.gutter-right {
    width: 180px;
    height: 80px;
    text-align: left;
    border: 5px solid red;
    flex-direction: column;
}

#auth-button {
    background-color: aqua;
}

#create {
    background-color: aqua;

}

.soccer {
    border: 10px solid red;
}

#posts {
    border: 6px solid red;
    width: 700px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;

}

#h2 {
    border: 6px solid black;
}

.left {
    border: 10px solid black;
}